.purge .cu-task-view__backdrop {
    background: var(--cu-black) !important;
    top: 0 !important;
    height: 100% !important;
}

.purge .cu-task-view__inner.full-screen {
    top: 0 !important;
    height: 100% !important;
}

.purge cu-global-actions-bar, .purge cu-header-sharing-trigger {
    display: none !important;
}