html:not(.tck-loaded) body::before {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9001;
    transition: opacity 0.25s ease-out;
    opacity: 1;
    content: " ";
}

html.tck-processed body::before {
    opacity: 0;
}

.text-template {
    background: #000;
    color: #ddd;
}

.text-template .ql-container, .text-template *:not(.fa) {
    font-family: segoe ui,trebuchet MS,Lucida Sans Unicode,Lucida Sans,Sans-Serif;
}

.text-template footer, .text-template .sidebar, .text-template .content__text, .text-template .header__right, 
.text-template .post-form__right, .text-template .badge-new, .text-template .top-footer, .text-template .-paste {
    display: none;
}

.text-template .ql-container .ql-editor.ql-blank:before {
    color: #bbb;
}

.text-template .ql-container .ql-editor {
    color: #ddd !important;
}

.text-template .el-button {
    background: #222 !important;
    color: #ccc !important;
}

.text-template .el-button--text {
    background: none !important;
}

.text-template .post-form__left {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.text-template .post-form__left > div {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.text-template .post-form__left .form-group .col-sm-9 {
    width: 280px;
}

.text-template .field-postform-is_burn {
    width: 430px;
}

.text-template .field-postform-name .field-wrapper {
    /* width: 1140px !important; */
}

.text-template .field-postform-is_password_enabled {
    display: flex;
}

.text-template .form-btn-container {
    width: 100%;
    padding: 0 33px 0 150px;
}

.text-template .form-btn-container button {
    width: 100%;
}

.text-template .wrap > .container {
    display: flex !important;
    padding: 100px 10px 10px 10px !important;
    transition: padding 0.25s ease-out;
}

.text-template .wrap > .container.tc-pushed-down {
    padding-top: 150px !important;
}

.text-template .wrap > .container > .content {
    transition: margin 0.25s ease-out;
    position: relative;
}

.text-template .wrap > .container > .content.tc-collapsed {
    margin-left: 120px !important;
}

.text-template .tc-form-inputs {
    transition: width 0.25s ease-out, height 0.25s ease-out;
    width: 100%;
}

.text-template .tc-form-inputs.tc-collapsed {
    width: 0;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.text-template footer span {
    color: #666 !important;
    padding-bottom: 0 !important;
}

.text-template footer > span:first-child {
    margin-right: 10px;
}

.text-template .overlay-text-template {
    max-width: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text-template .post-form__live-code {
    top: -22px;
}

.text-template .-no-border {
    font-size: 0;
    height: 0;
}

.text-template .tc-hidden {
    height: 0px;
    overflow: hidden;
    transition: height 0.25s ease-out;
}

.text-template .tc-disabled {
    display: none !important;
}

.text-template .tc-wrapper {
    position: relative;
}

.text-template .tc-wrapper .tc-button {
    position: absolute;
    right: -42px;
    top: 0;
}

.text-template .tc-button:hover, .text-template .tc-tag:hover, .text-template select:hover {
    cursor: pointer;
}

.text-template .tc-button:hover, .text-template .tc-button:focus {
    border: 2px solid rgba(81, 71, 119, 0.801);
}

.text-template .tc-wrapper .tc-button.tc-bottom {
    right: -80px;
}

.text-template .tc-wrapper .tc-button.tc-up {
    right: -118px;
}

.text-template .tc-button.tc-copy {
    position: absolute;
    top: 12px;
    right: 5px;
    z-index: 22;
}

/* Fields */
.text-template textarea, .text-template .tc-button, .text-template .tc-form input[type=date],
.text-template .tc-form input[type=datetime], .text-template .tc-form input[type=datetime-local],
.text-template .tc-form input[type=email], .text-template .tc-form input[type=month],
.text-template .tc-form input[type=number], .text-template .tc-form input[type=password],
.text-template .tc-form input[type=range], .text-template .tc-form input[type=search],
.text-template .tc-form input[type=tel], .text-template .tc-form .tc-text-input,
.text-template .tc-form input[type=time], .text-template .tc-form input[type=url],
.text-template .tc-form input[type=week], .text-template .tc-form select, 
.text-template .tc-form textarea, .text-template .tc-form .tc-text {
    background-color: #0002;
    border: 2px solid rgba(60, 49, 90, 0.701);
    color: #fff;
    height: 35px;
    border-radius: 30px 10px;
    padding: 15px;
    margin: 2px;
    margin-right: 0;
    transition: border 0.25s ease-out;
    font-size: 16px;
}

.text-template .tc-form .tc-text-input:hover, .text-template textarea:hover {
    border: 2px solid rgba(60, 49, 90, 0.85); /* 2px white border */
}

.text-template .tc-form .tc-text-input:focus, .text-template textarea:focus {
    outline: 0;
    border: 2px solid rgba(80, 69, 121, 0.901); /* 2px white border */
}

.text-template div[tabindex="0"]:focus, .text-template .tc-tag:focus {
    outline: 0;
}

.text-template textarea, .text-template .tc-text {
    line-height: 17px;
    min-height: 57px !important;
    width: 100%;
}

.text-template #postform-text {
    padding: 11px 15px 15px !important;
    line-height: 22px;
    border: 2px solid rgba(60, 49, 90, 0.1);
}

.text-template .tc-text {
    padding: 0 15px 8px 0 !important;
    height: auto !important;
}

.text-template textarea, .text-template .tc-text .ql-editor {
    margin-left: 0 !important;
}

.text-template .tc-text .ql-editor::before {
    left: 20px !important;
    padding-left: 0 !important;
}

.text-template .el-select {
    overflow: hidden;
    border-radius: 30px 10px;
    border: none;
}

.text-template .tc-preview-wrapper {
    position: fixed;
    padding: 15px 20px;
    text-align: justify;
    top: 108px;
    left: calc(50% + 680px);
    width: 460px;
    background-color: #0002;
    border: 2px solid rgba(60, 49, 90, 0.701);
    border-radius: 10px 30px;
    line-height: normal;
    overflow: hidden;
    transition: height 0.25s ease-out, padding 0.25s ease-out, border 0.25s ease-out, background 0.25s ease-out, top 0.25s ease-out;
}

.text-template .tc-preview-wrapper.tc-collapsed {
    height: 0 !important;
    padding: 0 20px !important;
    border: 2px solid rgba(60, 49, 90, 0.0);
    background-color: #0000;
}

.text-template .tc-preview-wrapper.tc-pushed-down {
    top: 158px;
}

.text-template .tc-preview {
    margin: 0 0 15px;
}

/* Buttons */
.text-template .tc-footer a, .text-template .tc-form a:not(.ql-close), .text-template .el-button:not(.el-button--text), .text-template .tc-form input[type=submit], 
.text-template .tc-form button[type=submit], .text-template .tc-form .wpforms-page-button {
    text-transform: uppercase;
    padding: 10px 75px;
    margin-right: 10px;
    border-radius: 30px 10px;
    color: white;
    background: #444;
    font-weight: normal;
}

.text-template .tc-form .tc-text a {
    text-transform: none;
    padding: 0;
    margin-right: 0;
    border-radius: 0;
    color: #409eff;
    background: none;
}

.text-template .el-button:not(.el-button--text) {
    padding: 10px 12px !important;
    height: auto !important;
    border: 2px solid rgba(40, 35, 59, 0);
}

.text-template .el-message-box .el-button {
    margin: 0 !important;
}

.text-template .el-button--text {
    color: #409eff !important;
    margin-right: 10px !important;
    text-transform: capitalize;
    transition: border 0.15s ease-out;
    padding: 2px 5px !important;
    margin-left: -5px !important;
    border-left: 2px solid rgba(40, 35, 59, 0);
    border-bottom: 2px solid rgba(40, 35, 59, 0);
}

.text-template .el-button--text:hover {
    border-left: 2px solid rgba(81, 71, 119, 0.801);
    border-bottom: 2px solid rgba(81, 71, 119, 0.801);
    cursor: pointer;
}

.text-template .control-buttons .el-button {
    text-transform: uppercase;
    margin-right: 0;
    display: flex !important;
    flex: 1;
}

.text-template .control-buttons .el-button span {
    margin: auto;
}

.text-template .control-buttons .el-form-item__content {
    margin-left: 0 !important;
    display: flex;
}

.text-template .el-button:not(.el-button--text) {
    padding-top: 10px !important;
}

.text-template .tc-button.fa {
    padding-top: 8px !important;
    margin: 2px 0 !important;
}

.text-template .tc-text-wrapper {
    position: relative;
}

.text-template .tc-text .ql-editor {
    overflow: visible;
    margin-left: 5px;
}

.text-template .tc-wrapper .tc-button.fa {
    opacity: 0;
    transition: opacity 0.25s ease-out, padding 0.25s ease-out;
    padding-left: 23px !important;
}

.text-template .tc-wrapper:hover .tc-button.fa, .tc-text-wrapper textarea:focus ~ .tc-button.fa, .tc-button.fa:focus,
.text-template form > div input[type="text"]:focus ~ .tc-button.fa, 
.text-template .tc-form > div input[type="text"]:focus ~ .tc-button.fa,
.text-template form > div input[type="text"]:focus ~ div .tc-button.fa,
.text-template .tc-form > div input[type="text"]:focus ~ div .tc-button.fa,
.text-template form > div .tc-button.fa:focus ~ div .tc-button.fa
.text-template .tc-form > div .tc-button.fa:focus ~ div .tc-button.fa {
    opacity: 1;
    padding-left: 13px !important;
}

.text-template .tc-add {
    padding-left: 13px !important;
}

.text-template .newpost {
    padding-top: 10px !important;
}

.text-template .tc-form-controls {
    margin-bottom: 5px;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}

.text-template .tc-form-controls .tc-button-container {
    width: 100%;
    display: flex;
    padding: 15px 15px 0;
}

.text-template .tc-top-button {
    display: flex;
    flex: 1;
    outline: 0;
    border-radius: 30px 10px;
    padding: 5px;
    margin: 2px;
    transition: background 0.25s ease-out;
    font-size: 16px;
}

.text-template .tc-top-button::before {
    margin: auto;
    color: #111;
    font-weight: bold;
}

/* menu color scheme: https://paletton.com/#uid=75B150kdvdv98oPcfjTjTcfoP98 */

.text-template .tc-top-button:hover {
    cursor: pointer;
    background-color: #777 !important;
}

.text-template .tc-top-button.tc-active {
    outline: 2px solid #000 !important;
}

.text-template .tc-toggle-preview {
    background-color: #6B5E3E !important;
}

.text-template .tc-toggle-preview.tc-active {
    background-color: #78A274 !important;
}

.text-template .tc-toggle-form {
    background-color: #403e6b !important;
}

.text-template .tc-toggle-form.tc-active {
    background-color: #7470c5 !important;
}

.text-template .tc-clear-form {
    background-color: #6A3D3F !important;
}

.text-template .tc-save-draft {
    background-color: #365833 !important;
}

.text-template .tc-save-draft-complete {
    background-color: #44FF44 !important;
    color: #000 !important;
}

.text-template .tc-load-draft {
    background-color: #2E3349 !important;
}

.text-template .tc-load-draft.tc-active {
    background-color: #656B87 !important;
}

.text-template .tc-wide-button {
    display: block;
    margin: 10px 0px;
    width: 430px !important;
    text-align: center;
}

.text-template .tc-parse {
    background-color: #3e723e !important;
}

/* todo: delete?.. */
.text-template .tc-tag {
    transition: color 0.25s ease-out, background 0.25s ease-out;
}

.text-template .tc-tag:hover, .text-template .tc-tag:focus {
    background-color: #6c2 !important;
    color: #111;
}

.text-template .el-input__inner {
    margin-right: -5px !important;
}

.text-template .keyboard-button-wrapper {
    flex: 1;
    display: flex;
}

.text-template .keyboard-button-wrapper > button {
    margin: 0 !important;
    text-transform: none !important;
    width: 100%;
}

.text-template .tc-wide-input input {
    width: 600px !important;
}

.text-template .tc-bottom-link {
    display: flex;
}

.text-template .tc-bottom-link-input {
    display: flex;
    flex: 1;
}

.text-template .ql-editor {
    font-size: 16px !important;
}

.text-template .tc-narrow-button {
    padding: 10px 10px !important;
    display: block;
    width: 207px;
    text-align: center;
}

.text-template .tc-drafts {
    white-space: nowrap;
    margin-top: 5px;
    margin: 0 15px;
}

.text-template .tc-drafts.tc-visible {
    height: 45px !important;
}

.text-template .tc-drafts .tc-button {
    display: inline-block;
    top: 8px;
    right: -62px;
    padding-left: 13px;
    width: 42px !important;
    z-index: 23;
    background: none !important;
    border: 2px solid rgba(40, 35, 59, 0);
    transition: border 0.15s ease-out;
}

.text-template .tc-drafts .tc-delete {
    right: -100px;
}

.text-template .tc-select-wrapper {
    display: inline;
    padding: 5px 8px 6px 0px;
    border-radius: 30px 10px;
    border: 2px solid rgba(35, 59, 37, 0.801);
    margin-right: 10px;
    position: relative;
}

.text-template .tc-select-wrapper::after {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -100px;
    width: 100px;
}

.text-template .tc-draft-list {
    width: calc(100% - 14px);
    height: 50px !important;
    background: none !important;
}

.text-template select {
    border: none !important;
    outline: none;
}

.text-template select option {
    background: #111;
}

.text-template .tc-save-draft-icon {
    opacity: 0;
}

.text-template .tc-load-draft-form .tc-load {
    margin-right: -2px !important;
    padding-left: 11px !important;
}

.text-template .tc-tag-helper {
    overflow: hidden;
    height: 0;
    padding: 0;
    font-size: 14px;
    transition: height 0.25s ease-out, padding 0.25s ease-out, margin 0.25s ease-out;
    color: #666;
    position: relative;
}

.text-template .tc-tag-helper-edit {
    width: calc(100% - 2px);
}

.text-template .tc-tag-view {
    margin: 0 10px;
}

.tc-tag-helper .tc-button {    
    top: 10px !important;
}

.tc-tag-helper .tc-cancel {
    right: -80px !important;
}

.text-template .tc-tag {
    display: inline-block;
    border-radius: 30px 10px;
    color: rgb(173, 173, 241);
    padding-right: 2px;
    transition: padding 0.25s ease-out;
    padding-left: 0;
}

.text-template .tc-tag:hover, .text-template .tc-tag:focus {
    padding-left: 3px !important;
    padding-right: 5px !important;
}

.text-template .tc-tag.tc-selected {
    padding-left: 2px;
    padding-right: 4px;
    background-color: rgb(18, 104, 233) !important;
    color: #111;
}

.text-template .tc-tag.tc-selected:focus, .text-template .tc-tag.tc-selected:hover {
    background-color: rgb(18, 233, 233) !important;
}

.text-template .tc-tag.tc-dynamic-width {
    width: auto !important;
}

/* todo: add preview style */

/* todo: add form buttons style */

/* todo: move form style here */
/* =========== FORM CHANGES ============ */

/* .text-template .cb-newpost-options .cb-buttons .form-item-like {
    padding-bottom: 5px !important;
}

.text-template .cb-newpost-options .cb-buttons .label, .text-template .tc-options-button {
    transition: opacity 0.25s ease-out;
    opacity: 0.8;
    margin: auto;
} */

.text-template .tc-options-button {
    text-align: center;
}

/* .text-template .cb-newpost-options .cb-buttons .label:hover, .text-template .tc-options-button {
    cursor: pointer;
    opacity: 1;
    color: #4e7e4d !important;
}

.text-template .cb-newpost-options > .el-form-item:nth-of-type(4) {
    display: flex;
    padding-left: 20px;
}

.text-template .cb-newpost-options > .el-form-item:nth-of-type(4) > * {
    display: flex;
    flex: 1;
}

.text-template .cb-newpost-options > .el-form-item:nth-of-type(4) .el-form-item__content {
    margin-left: 0 !important;
}

.text-template .cb-newpost-options > .el-form-item:nth-of-type(4) .el-select {
    width: 100%;
}

.text-template .cb-newpost-options .cb-buttons .keyboard-row:last-child .el-button {
    margin-left: auto !important;
    margin-right: auto !important;
}

.text-template .cb-newpost-options .cb-switchers {
    margin-bottom: 20px !important;
    padding-left: 20px;
    transition: height 0.25s ease-out;
}

.text-template .cb-newpost-options .cb-switchers.tc-hidden {
    height: auto !important;
}

.text-template .cb-newpost-options .cb-switchers.tc-hidden > * {
    display: none !important;
}

.text-template .cb-newpost-options .cb-switchers > .el-form-item {
    display: flex;
}

.text-template .cb-newpost-options .cb-switchers > .el-form-item > * {
    display: flex;
    flex: 1;
    margin-left: 0 !important;
}

.text-template .cb-newpost-options .cb-switchers > .el-form-item .el-switch {
    margin-top: 10px;
}

.text-template .cb-newpost-options .cb-switchers > .el-form-item:first-of-type {
    margin-top: 20px;
}

.text-template .cb-newpost-media .el-form-item__content {
    text-align: center;
}
 */
