.purge .window-sidebar, .purge .window-header-inline-content, .purge .card-detail-data, .purge .add-comment-section, .purge .window-module {
    display: none;
}

.purge .window-module.checklist-list {
    display: block;
}

.purge .checklist-new-item-text {
    overflow-y: hidden !important;
}

.purge .window-overlay {
    background: #111;
}

.purge .window-main-col {
    width: 710px;
}