.purge .window-sidebar, .purge .window-header-inline-content:not(.js-current-list), .purge .card-detail-data h3, .purge .add-comment-section, 
.purge .window-module:not(.js-attachments-section), .purge #header > div > *:not(:first-child), .purge .js-fill-card-detail-desc .window-module-title > *:not(span),
.purge .js-plugin-header-btns, .purge .mod-show-menu .board-header-btn-text, .purge .js-star-board, .purge .board-header-btn-org-wrapper,
.purge .board-header-btns.mod-left, .purge .open-card-composer .js-add-another-card, .purge .open-card-composer .js-add-a-card, .trello-addons .tc-hidden {
    display: none;
}

.purge .js-card-detail-labels {
    display: block !important;
}

.purge .window-module.checklist-list {
    display: block;
}

.purge .js-fill-card-detail-desc .window-module {
    display: block;
}

.purge .js-current-list {
    margin: 0;
}

.purge .js-current-list p {
    overflow: hidden;
    width: 0;
    height: 0;
}

.purge .js-current-list p a {
    position: absolute;
    top: 30px;
    left: 0;
    text-transform: lowercase;
    text-decoration: none;
}

.purge .js-card-detail-header {
    margin-bottom: 0;
}

.purge .js-fill-card-detail-desc .window-module-title {
    height: 0px;
    min-height: 0px;
    padding: 0px;
}

.purge .js-fill-card-detail-desc .window-module-title-icon {
    top: 0 !important;
}

.purge .js-fill-card-detail-desc .description-fake-text-area {
    color: rgba(0,0,0,0) !important;
    min-height: auto !important;
}

.purge .js-fill-card-detail-desc .description-fake-text-area::before {
    content: "Description...";
    color: #172b4d;
}

.purge .checklist-new-item-text {
    overflow-y: hidden !important;
}

.purge .window-overlay {
    background: #222;
}

.purge .window-main-col {
    width: 735px;
}

.purge .window {
    margin: 100px 0 0;
}

.purge .dialog-close-button {
    top: 8px;
    right: 14px;
}

.purge .list-card-details {
    height: 22px;
    padding-top: 2px;
}

.purge .list-card-operation {
    background: none !important;
    top: -2px !important;
}

.purge .js-add-list.is-idle {
    width: 30px !important;
    overflow: hidden;
    opacity: 0.75;
}

.purge .js-add-list {
    transition: width 0.5s ease-out, opacity 0.25s ease-out;
    background: none !important;
}

.purge .js-add-list:hover {
    opacity: 1;
}

.purge .js-add-list.is-idle .placeholder {
    padding-left: 1px;
}

.purge .js-add-list.is-idle .placeholder .icon-add {
    margin-right: 5px;
}

.purge .card-composer-container {
    min-height: 30px;
    max-height: 30px;
}

.purge .card-composer-container .open-card-composer {
    margin: 0;
    text-align: center;
}

.purge .list .list-card-labels {
    position: absolute;
    top: -5px;
}

.trello-addons .tc-add-checklist {
    color: #42526e;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 57px;
    height: 32px;
    overflow: hidden;
    padding: 4px;
    margin: 4px;
    width: 32px;
    z-index: 2;
    transition: background-color .1s,color .1s;
    background: rgba(0,0,0,0);
}

.trello-addons .tc-add-checklist:hover {
    background-color: rgba(9,30,66,.08);
}

.trello-addons .tc-add-checklist::before {
    content: "\E901";
}

.trello-addons.window-up .pop-over {
    right: 50% !important;
    left: auto !important;
    margin-right: -378px;
}

.trello-addons .pop-over.checklist {
    top: 105px !important;
}

.trello-addons .mod-card-back-title {
    width: 90% !important;
}

.trello-addons .tc-important {
    box-shadow: -3px 0 0 #f11;
}

.trello-addons .tc-unsure {
    box-shadow: -3px 0 0 #16f;
}

.trello-addons .tc-solo-button.tc-option-active {
    background: rgba(9,30,128,.2);
}

.trello-addons .tc-mute-button.tc-option-active {
    background: rgba(128,30,9,.2);
}

.trello-addons .tc-solo-button.tc-option-active:hover {
    background: rgba(30,30,128,.22);
}

.trello-addons .tc-mute-button.tc-option-active:hover {
    background: rgba(128,30,30,.22);
}

.trello-addons .checklist-title {
    width: 88%;
    margin-right: 7px;
    float: left;
}

.trello-addons .checklist .window-module-title-options .nch-button {
    color: rgba(0,0,0,0);
}

.trello-addons .checklist .window-module-title-options .nch-button::before {
    color: rgba(0,0,0,1);
}

.trello-addons .checklist .window-module-title-options .nch-button, .trello-addons .tc-custom-button {
    overflow: hidden;
    padding-left: 10px;
    width: 10px;
    height: 20px;
    margin-right: 10px;
    font-family: FontAwesome !important;
    justify-content: initial;
}

.trello-addons .tc-custom-button {
    width: 32px;
    height: 32px;
}

.trello-addons .tc-solo-button {
    margin-right: 6px !important;
}
