
.scroll-button {
    position: absolute;
    opacity: 0.5;
    left: -65px;
    bottom: 0;
    width: 50px;
    height: 50px;
    transition: opacity 0.2s ease-out;
}

.scroll-button:hover {
    opacity: 1;
    cursor: pointer;
}

.scroll-button:after {
    content: "🢙";
    font-size: 46px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: block;
}

