.purge {
    background: #000;
    color: #ddd;
}

.purge .ql-container .ql-editor.ql-blank:before {
    color: #bbb;
}

.purge .ql-container .ql-editor {
    color: #ddd !important;
}

.purge .el-button {
    background: #222 !important;
    color: #ccc !important;
}

.purge .el-button--text {
    background: none !important;
}

.text-template .overlay-text-template {
    position: absolute;
    left: -540px;
    top: 33px;
}

/* Fields */
.text-template textarea, .text-template .tc-button, .text-template .tc-form input[type=date],
.text-template .tc-form input[type=datetime], .text-template .tc-form input[type=datetime-local],
.text-template .tc-form input[type=email], .text-template .tc-form input[type=month],
.text-template .tc-form input[type=number], .text-template .tc-form input[type=password],
.text-template .tc-form input[type=range], .text-template .tc-form input[type=search],
.text-template .tc-form input[type=tel], .text-template .tc-form input[type=text],
.text-template .tc-form input[type=time], .text-template .tc-form input[type=url],
.text-template .tc-form input[type=week], .text-template .tc-form select, .text-template .tc-form textarea {
    background-color: transparent; /* Remove background fill */
    /* text-transform: uppercase; Make text all uppercase */
    border: 2px solid rgba(40, 35, 59, 0.801); /* 2px white border */
    color: #fff; /* White text */
    height: 35px; /* Increase input height */
    border-radius: 30px 10px;
    padding: 15px;
    width: 208px;
    margin: 2px;
    margin-right: 0;
    transition: border 0.25s ease-out;
    font-size: 14px;
}

.text-template textarea {
    min-height: 100px !important;
    min-width: 429px !important;
}

.text-template .el-select {
    overflow: hidden;
    border-radius: 30px 10px;
    border: 2px solid rgba(40, 35, 59, 0.801); /* 2px white border */
}

.text-template .tc-select-wrapper {
    display: inline;
    overflow: hidden;
    border-radius: 30px 10px;
    border: 2px solid rgba(40, 35, 59, 0.801); /* 2px white border */
    margin-right: 10px;
}

.text-template select {
    border: none !important;
    outline: none;
}

/* Buttons */
.text-template .tc-footer a, .text-template .tc-form a, .text-template .el-button:not(.el-button--text), .text-template .tc-form input[type=submit], 
.text-template .tc-form button[type=submit], .text-template .tc-form .wpforms-page-button {
   text-transform: uppercase;
   padding: 10px 75px;
   margin-right: 10px;
   border-radius: 30px 10px;
   color: white;
   background: #444;
   font-weight: normal;
}

.text-template .el-button:not(.el-button--text) {
    padding: 10px 12px !important;
    height: auto !important;
    border: 2px solid rgba(40, 35, 59, 0);
}

.text-template .el-button--text {
    color: #409eff !important;
    margin-right: 20px !important;
    text-transform: capitalize;
    transition: border 0.15s ease-out;
    padding: 2px 5px !important;
    margin-left: -5px !important;
    border-left: 2px solid rgba(40, 35, 59, 0);
    border-bottom: 2px solid rgba(40, 35, 59, 0);
}

.text-template .el-button--text:hover {
    border-left: 2px solid rgba(81, 71, 119, 0.801);
    border-bottom: 2px solid rgba(81, 71, 119, 0.801);
    cursor: pointer;
}

.text-template .el-button--primary.is-plain, .text-template .tc-button {
    background: none !important;
    border: 2px solid rgba(40, 35, 59, 0);
    width: 40px !important;
}

.text-template .control-buttons .el-button {
    text-transform: uppercase;
    width: 40% !important;
}

.text-template .control-buttons .el-form-item__content {
    margin-left: 0 !important;
}

.text-template .el-button:not(.el-button--text) {
    padding-top: 10px !important;
}

.text-template .el-button:not(.el-button--text), .text-template .tc-button {
    transition: border 0.15s ease-out;
    display: inline-block;
}

.text-template .tc-button {
    padding-top: 5px !important;
}

.text-template .tc-button.fa {
    padding-top: 8px !important;
    padding-left: 13px !important;
    margin: 2px 0 !important;
}

.text-template .tc-form-footer:hover {
    cursor: default;
}

.text-template .tc-button:hover, .text-template .tc-text-button:hover, .text-template select:hover {
    cursor: pointer;
}

.text-template .el-button:not(.el-button--text):hover, .text-template .tc-button:hover {
    border: 2px solid rgba(81, 71, 119, 0.801);
    cursor: pointer;
}

.text-template .tc-wide-button {
    display: block;
    margin: 20px 0px;
    width: 430px !important;
    text-align: center;
}

.text-template .tc-parse {
    background-color: #3e723e !important;
}

.text-template .tc-clear-form {
    background-color: #cc3e3e !important;
}

.text-template .tc-text-button {
    transition: color 0.25s ease-out, background 0.25s ease-out;
}

.text-template .tc-text-button:hover {
    background-color: #6c2 !important;
    color: #111;
}

.text-template .tc-form input[type=text]:focus, .text-template textarea:focus {
    outline: 0;
    border: 2px solid rgba(80, 69, 121, 0.901); /* 2px white border */
}

.text-template .tc-ex {
    margin-bottom: 16px;
}

.text-template .tc-ex * {
    display: none;
}

.text-template .el-input__inner {
    margin-right: -5px !important;
}

.text-template .cb-buttons, .text-template .cb-textarea-wrapper {
    margin: 10px 0px;
}

.text-template .tc-wide-input input {
    width: 429px !important;
}

.text-template .tc-bottom-link-input {
    width: 212px !important;
}

.text-template .tc-disabled {
    display: none !important;
}

.text-template .newpost {
    position: relative;
    overflow: visible;
    margin-right: -700px;
}

.text-template .ql-editor {
    font-size: 14px !important;
}

.text-template .tc-narrow-button {
    padding: 10px 10px !important;
    display: block;
    width: 207px;
    text-align: center;
}

.text-template .tc-draft-column {
    display: inline-block;
}

.text-template .tc-drafts {
    margin-top: 10px;
}

.text-template .tc-load-draft-form .tc-select-wrapper {
    padding: 10px 0 10px 10px;
}

.text-template .tc-draft-list {
    width: 130px !important;
    margin-right: 13px !important;
}

.text-template .tc-load-draft-form .tc-load {
    margin-right: -2px !important;
    padding-left: 11px !important;
}

.text-template .tc-save-draft-complete {
    background-color: #4f4 !important;
    color: #000 !important;
}