.purge #content #masthead div#buttons > .ytd-masthead:not(ytd-notification-topbar-button-renderer), .purge #content #masthead #logo #country-code,
.purge ytd-app[is-watch-page] #guide-spacer, .purge ytd-app[is-watch-page] #info .super-title, .purge ytd-app[is-watch-page] #info #info-text, 
.purge ytd-app[is-watch-page] #info #menu a #text, .purge ytd-app[is-watch-page] #info #menu ytd-menu-renderer > #button,
.purge ytd-app[is-watch-page] #meta, .purge ytd-app[is-watch-page] #comments, .purge ytd-app[is-watch-page] #related, .purge ytd-app[is-watch-page] #playlist,
.purge ytd-app[is-watch-page] #columns #secondary, .purge [page-subtype="home"] ytd-rich-section-renderer, .purge [page-subtype="home"] .badge, .purge .badge-style-type-verified {
    display: none !important;
}

.purge:not(.no-scroll) ytd-app[is-watch-page] {
    display: flex;
    align-items: center;
}

.purge:not(.no-scroll) ytd-app[is-watch-page] #content {
    flex: 1;
}

.purge #content #masthead #logo {
    width: 27px;
    overflow: hidden;
}

.purge ytd-app:not([is-watch-page]) #meta ytd-video-meta-block {
    display: block;
    overflow: hidden;
    text-shadow: 0 0 3px #111;
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 9000;
    height: 0;
    transition: height 0.25s ease-out, opacity 0.25s ease-out, top 0.25s ease-out;
    opacity: 0.9;
}

.purge ytd-app:not([is-watch-page]) #meta ytd-video-meta-block a, .purge ytd-app:not([is-watch-page]) #meta ytd-video-meta-block span {
    color: #fff !important;
}

.purge ytd-app:not([is-watch-page]) ytd-rich-item-renderer:hover #meta ytd-video-meta-block {
    height: 40px;
    opacity: 1;
    top: -40px;
}

.purge ytd-app:not([is-watch-page]) #video-title, .purge ytd-app:not([is-watch-page]) #video-title-link {
    max-height: none !important;
    height: auto;
    -webkit-line-clamp: unset !important;
}

.purge ytd-two-column-browse-results-renderer[page-subtype="channels"], 
.purge ytd-two-column-browse-results-renderer[page-subtype="subscriptions"] {
    width: 95% !important;
}

.purge [page-subtype="channels"] #items,
.purge [page-subtype="subscriptions"] #items {
    justify-content: center;
}

.purge [page-subtype="channels"] ytd-grid-video-renderer,
.purge [page-subtype="subscriptions"] ytd-grid-video-renderer {
    margin-right: 20px !important;
    margin-left: 20px !important;
    width: 300px !important;
}

.purge [page-subtype="channels"] ytd-thumbnail.ytd-grid-video-renderer,
.purge [page-subtype="subscriptions"] ytd-thumbnail.ytd-grid-video-renderer {
    height: 168px;
    width: 300px;
}

.purge [page-subtype="channels"] ytd-thumbnail.ytd-grid-video-renderer img.yt-img-shadow,
.purge [page-subtype="subscriptions"] ytd-thumbnail.ytd-grid-video-renderer img.yt-img-shadow {
    width: 100%;
}

.purge [page-subtype="channels"] ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer,
.purge [page-subtype="subscriptions"] ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer {
    margin-top: 20px;
}

.purge [page-subtype="channels"] #menu button.yt-icon-button,
.purge [page-subtype="subscriptions"] #menu button.yt-icon-button {
    transform: rotate(90deg);
    margin-top: -5px;
}

.purge [page-subtype="channels"] #meta,
.purge [page-subtype="subscriptions"] #meta {
    padding-right: 0;
}

.purge [page-subtype="channels"] #metadata-container,
.purge [page-subtype="subscriptions"] #metadata-container {
    position: absolute;
    top: 0px;
    width: 100%;
}

.purge [page-subtype="channels"] #metadata-line,
.purge [page-subtype="subscriptions"] #metadata-line {
    font-size: 1rem;
}

.purge [page-subtype="channels"] #metadata-line > span:first-of-type, .purge [page-subtype="channels"] #metadata #byline-container, .purge [page-subtype="channels"] #details #video-badges,
.purge [page-subtype="subscriptions"] #metadata-line > span:first-of-type, .purge [page-subtype="subscriptions"] #details #video-badges {
    display: none;
}

.purge [page-subtype="subscriptions"] #metadata {
    display: block !important;
}

.purge [page-subtype="subscriptions"] #metadata #byline-container {
    float: left;
}

.purge [page-subtype="subscriptions"] #metadata-line{
    float: right;
}

.purge #end.ytd-masthead {
    min-width: auto;
}

.purge #search-form.ytd-searchbox {
    max-width: none;
}

.purge ytd-searchbox.ytd-masthead {
    margin-left: 24px;
    margin-right: 12px;
}

.purge ytd-app[is-watch-page] #info #menu-container {
    margin-top: -40px;
}

.purge ytd-app[is-watch-page] #info #menu-container #sentiment {
    width: 100% !important;
}

.purge ytd-app[is-watch-page] #info #info {
    height: 10px;
    margin-bottom: -5px;
}

.purge ytd-app[is-watch-page] #content #page-manager {
    overflow: visible;
}